
  /* Style page content */

  
  
  /* for my image and name on hover */
  .container {
    position: relative;
    width: 50%;
  }
  
  
 
    
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
 /* skill */
 .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  @media (max-width: 300px) {
    .img-sm-300 {
      max-width: 250px;
      width: 100%;
      height: auto;
      padding: 20px;
    }
    .Education{
      width: 100%;
      margin: 0%;
      text-align: left;}

  }
  